html {
  position: relative;
  min-height: 100%;
}

body {
  color: #fff;
  background: #222;
  display: block;
  height: 100%;
  width: auto;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  color: #fff;
  background-color: #46413e;
}
# main {
  margin-left: 5em;
  margin-right: 5em;
    width: 80%;
}
.no-spin::-webkit-inner-spin-button, .no-spin::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
  -moz-appearance: textfield !important;
}

.box {
  margin: 15px 15px 15px 15px;
}

.center-block {
  float: none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
